.App {
  text-align: center;
}

.App-header {
  display: flex;
  position: relative;
  min-height: 10vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #282c34;
  color: white;
  overflow-x: hidden;
}

main {
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: #234;
  overflow-x: hidden;
}

.split {
  margin: 10px;
  width: 50%;
  min-height: 90vh;
  text-align: left;
}

.split.left {
  border-right: 1px solid whitesmoke;
}
